body {
  background-color: #4f4f4f;
  color: #9e9e9e;
  margin: 0;
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.wrapper {
  position: relative;
}

header {
  background-color: #3c3c3c;
  font-size: 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

a {
  color: #9e9e9e;
  text-decoration: none;
}

nav {
  padding: 1rem;
}

nav a:hover, .pager a:hover {
  color: #ffffff;
}
.pager a {
  text-decoration: underline;
}

a:visited {
  color: #9e9e9e;
}

nav a::before {
  content: "\00A0/\00A0";
}

nav a:first-child::before {
  content: none;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.photo-page {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .photo-page {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .photo-page {
    max-width: 668px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .photo-page {
    max-width: 924px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .photo-page {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
  /* .photo-page {
    max-width: 1266px;
  } */
}

.container.page {
  top: 8rem;
  position: relative;
}

.listing-page {
  display: flex;
  flex-wrap: wrap;
}

section {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 250px);
  grid-gap: 1rem;
  justify-content: center;
}

.gatsby-image-wrapper  {
 -webkit-border-radius: .5rem;
 -moz-border-radius: .5rem;
 border-radius: .5rem;
 -webkit-box-shadow: 0.25rem 0.25rem .5rem .1rem #000000;
 -moz-box-shadow:0.25rem 0.25rem .5rem .1rem #000000;
 box-shadow: 0.25rem 0.25rem .5rem .1rem #000000;
}

.folder a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3c3c3c;
  font-size: 1.25rem;
  position: relative;
}

.folder-title {
  position: absolute;
}

.pager {
  margin: .25rem;
  text-align: center;
}

.pager a {
  padding: .75rem
}